name: MPV

on: 
  # schedule:
  #   - cron:  '0 12 * * *'
  workflow_dispatch:
    inputs:
      clean:
        description: 'input anything if you want to clean build files'
        required: false
      cache_id:
        description: 'input cache_id if you want to renew cache'
        required: false
      release:
        description: "input 'false' if you don't want to release"
        required: false
        default: "true"

jobs:
  build_mpv:
    name: Build MPV
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bit: [64]
    outputs:
      sha: ${{ steps.get_sha.outputs.sha }}

    steps:
      - uses: actions/checkout@v2
      - name: 'Get mpv latest commit sha'
        id: get_sha
        uses: actions/github-script@v5
        with:
          script: |
            const commit = await github.rest.repos.getCommit({
              owner: 'mpv-player',
              repo: 'mpv',
              ref: `master`
            })
            core.setOutput('sha', String(commit.data.sha))
      - name: Get current time
        run: |
          echo "short_time=$(date "+%Y-%m-%d")" >> $GITHUB_ENV
      
      - name: Cache
        uses: actions/cache@v2
        with:
          path: mpv-winbuild-cmake/build${{ matrix.bit }}
          key: ${{ runner.os }}-mpv-build${{ matrix.bit }}-${{ env.short_time }}-${{ steps.get_sha.outputs.sha }}-${{ github.event.inputs.cache_id }}
          restore-keys: |
            ${{ runner.os }}-mpv-build${{ matrix.bit }}-${{ env.short_time }}-${{ steps.get_sha.outputs.sha }}
            ${{ runner.os }}-mpv-build${{ matrix.bit }}-${{ env.short_time }}
            ${{ runner.os }}-mpv-build${{ matrix.bit }}

      - name: Build
        id: build
        shell: bash
        run: |
          docker pull ubuntu:22.04
          docker run --rm -v $GITHUB_WORKSPACE:/root/workdir ubuntu:22.04 /bin/sh -c "apt-get -qq update && DEBIAN_FRONTEND=noninteractive apt-get -yqq install sudo tzdata && cd /root/workdir && chmod +x build.sh && bash build.sh '${{ matrix.bit }}' '${{ github.event.inputs.clean }}'"
      - name: Collect error logs
        if: ${{ always() && steps.build.outcome == 'failure' }}
        run: |
          sudo 7z a logs.7z mpv-winbuild-cmake/build${{ matrix.bit }}/*-err.log -r
      - name: upload error logs
        uses: actions/upload-artifact@master
        if: ${{ always() && steps.build.outcome == 'failure' }}
        with:
          name: logs
          path: logs.7z

      - name: Upload artifact
        id: upload
        uses: kittaakos/upload-artifact-as-is@master
        with:
          path: mpv-winbuild-cmake/release/*.7z

  publish_release:
    name: Publish release
    needs: build_mpv
    if: ${{ github.event.inputs.release != 'false' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
    
      - name: Get current time
        run: |
          echo "long_time=$(date "+%Y-%m-%d %H:%M")" >> $GITHUB_ENV
          echo "short_time=$(date "+%Y-%m-%d")" >> $GITHUB_ENV

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/*/*.7z"
          commit: main
          name: "MPV ${{ env.long_time }}"
          body: "MPV git commit: https://github.com/mpv-player/mpv/commit/${{ needs.build_mpv.outputs.sha }}\nBuild Time: ${{ env.long_time }}"
          tag: "${{ env.short_time }}"
          allowUpdates: true
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Prune old releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          bash prunetags.sh
